body {
  background-color: #000;
  color: aliceblue;
}
.btn-field {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}
button {
  padding: 5px 10px;
  border: none;
  border-radius: 20%;
  background-color: grey;
  color: #000;
}
button:not(:last-child) {
  margin-right: 15px;
}
